.btn {
    width: 400px;
    margin-bottom: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    background-color: white;
    border: 3px solid lightgrey;
    text-align: center;
    cursor: pointer;
    user-select: text;
}

.entryHeading {
    padding: 10px 20px;
    font-size: 30px;
}

.entryText {
    padding: 0 20px 10px 20px;
    font-size: 20px;
}

.category {
    padding-bottom: 6px;
    font-size: 18px;
    font-style: italic;
}

.btnHeading {
    font-size: 30px;
    padding: 6px;
}

.btnImage {
    margin-bottom: 2em;
    background-color: white;
    border: none;
}

.image {
    width: 400px;
    border-radius: 20px;
    cursor: pointer;
}