.btn {
    min-width: 440px;
    margin-bottom: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    background-color: white;
    border: 3px solid lightgrey;
    cursor: pointer;
}

.entryHeading {
    padding: 10px 20px;
    font-size: 40px;
}

.entryText {
    padding: 0 20px 10px 20px;
    font-size: 28px;
}

.category {
    padding-bottom: 6px;
    font-size: 16px;
    font-style: italic;
    color: gray;
}

.btnHeading {
    font-size: 30px;
    padding: 6px;
}

.btnImage {
    margin-bottom: 2em;
    background-color: white;
    border: none;
}

.image {
    max-width: 100%;
    border-radius: 20px;
    cursor: pointer;
}