.mainContainer {
    column-count: 4;
    column-gap: 2em;
    padding: 0 100px;
}

@media ( max-width: 2124px ) {
    .mainContainer {
        column-count: 4;
    }
}

@media ( max-width: 1800px ) {
    .mainContainer {
        column-count: 3;
    }
}


@media ( max-width: 1600px ) {
    .mainContainer {
        column-count: 2;
    }
}
    
@media ( max-width: 1024px ) {
    .mainContainer {
        column-count: 1;
        padding: 75px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
